:root {
  --primary-color-1: hsl(26, 100%, 55%);
  --primary-color-2: hsl(25, 100%, 94%);

  --neutral-color-1: hsl(220, 13%, 13%);
  --neutral-color-2: hsl(219, 9%, 45%);
  --neutral-color-3: hsl(220, 14%, 75%);
  --neutral-color-4: hsl(0, 0%, 100%);
  --neutral-color-5: hsl(0, 0%, 0%);

  --white-color: var(--neutral-color-4);
  --top-header-border-color: hsl(208, 25%, 85%);
  --overlay-color: var(--neutral-color-5);
  --quantity-container-background-color: hsl(220, 14%, 75%, 0.1);
  --primary-color-1-active: hsl(26, 100%, 74%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: var(--primary-color-1-active);
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  min-height: 100%;
  color: var(--neutral-color-2);
  background-color: var(--white-color);
}

button {
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.top-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 85%;
  padding: 2em 0;
  margin: 0 4em;
  border-bottom: 0.0625em solid var(--top-header-border-color);
  background-color: var(--white-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-content {
  display: flex;
  align-items: center;
  gap: 2em;
}

.navigation-links {
  display: flex;
  gap: 2em;
  position: relative;
}

.navigation-item {
  position: relative;
}

.navigation-link::after {
  content: "";
}

.navigation-link:is(:hover, :active, :focus) {
  color: var(--neutral-color-1);
  transition: color 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .navigation-link:is(:hover, :active, :focus) {
    transition: none;
  }
}

.navigation-link:is(:hover, :active, :focus)::after {
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: var(--primary-color-1);
  position: absolute;
  bottom: -2.75em;
  transition: background-color ease-in-out 0.2s;
}

@media (prefers-reduced-motion) {
  .navigation-link:is(:hover, :active, :focus)::after {
    transition: none;
  }
}

.open-menu-button,
.open-menu-button,
.close-menu-button,
.navigation-overlay {
  display: none;
}

.open-menu-button img {
  width: 1.7em;
}

.navigation-links {
  display: flex;
  gap: 2em;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.cart-button {
  position: relative;
  display: flex;
}

.cart-icon:is(:hover, :active, :focus) .cart-icon-path {
  fill: var(--neutral-color-1);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .cart-icon:is(:hover, :active, :focus) .cart-icon-path {
    transition: none;
  }
}

.cart-icon[data-active="true"] .cart-icon-path {
  fill: var(--neutral-color-1);
}

.cart {
  position: absolute;
  opacity: 0;
  width: 22em;
  background-color: var(--white-color);
  top: 3em;
  transform: translateX(-50%);
  z-index: -1;
  box-shadow: 0.125em 0.9375em 1.4375em 0.8125em rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
}

.cart-badge {
  position: absolute;
  border-radius: 0.6em;
  width: 1em;
  background-color: var(--primary-color-1);
  color: var(--white-color);
  font-size: 0.8em;
  font-size: 0.8em;
  top: -0.4em;
  left: 0.9em;
  right: 0;
  width: 1.6em;
}

.cart-button[data-active] > .cart {
  opacity: 1;
  z-index: 1;
}

.cart-heading {
  font-size: 1.2em;
  border-bottom: 0.0625em solid var(--neutral-color-3);
  text-align: left;
  padding: 1em;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.cart-content.empty {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10em;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.empty-cart-label {
  color: var(--neutral-color-2);
  font-weight: bold;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.cart-item-content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.cart-item-content > .cart-item-image {
  width: 4em;
  border-radius: 0.4em;
}

.cart-item-content > .cart-item-labels {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  text-align: left;
}

.cart-item-content > .cart-item-labels .cart-item-total-price {
  font-weight: bold;
}

.trash-icon-button {
  display: flex;
}

.trash-icon:is(:hover, :active, :focus) path {
  fill: var(--primary-color-1);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .trash-icon:is(:hover, :active, :focus) path {
    transition: none;
  }
}

.checkout-button {
  background-color: var(--primary-color-1);
  border-radius: 0.6em;
  padding: 1em;
  font-weight: bold;
}

.checkout-button:is(:hover, :active, :focus),
.add-to-cart-button:is(:hover, :active, :focus) {
  background-color: var(--primary-color-1-active);
}

.profile-button {
  display: flex;
}

.profile-button:is(:hover, :active, :focus) > .avatar {
  border-radius: 100%;
  border: 0.125em solid var(--primary-color-1);
  transition: border 0.2s ease-out;
}

@media (prefers-reduced-motion) {
  .profile-button:is(:hover, :active, :focus) > .avatar {
    transition: none;
  }
}

.avatar {
  width: 3em;
  border: 0.125em solid transparent;
}

@media (width < 52em) {
  .cart {
    position: fixed;
    top: 8em;
    width: 90vw;
    left: 50%;
  }
}

@media (width < 52em) {
  .top-header {
    width: 100%;
    padding: 2em;
    border: none;
    position: fixed;
    z-index: 2;
  }

  .open-menu-button,
  .close-menu-button {
    display: flex;
  }

  .logo-container,
  .user-container {
    gap: 1em;
  }

  .navigation {
    order: 1;
  }

  .logo-link {
    order: 2;
  }

  .navigation-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: var(--neutral-color-5);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none;
    z-index: 2;
  }

  .navigation-content {
    position: fixed;
    inset: 0 7.5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    background-color: var(--white-color);
    padding: 2em;
    translate: -100vw 0;
    transition: translate 0.35s ease-in-out;
    z-index: 3;
  }

  @media (prefers-reduced-motion) {
    .navigation-overlay,
    .navigation-content {
      transition: none;
    }
  }

  .open-menu-button[aria-expanded="true"] + .navigation-content {
    translate: 0;
  }

  .top-header:has(.open-menu-button[aria-expanded="true"]) .navigation-overlay {
    opacity: 0.5;
  }

  .close-menu-button img {
    width: 2em;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 2em;
    font-size: 1.1em;
    color: var(--neutral-color-1);
  }

  .navigation-item {
    position: static;
  }

  .navigation-link {
    position: relative;
  }

  .navigation-link:is(:hover, :active, :focus)::after {
    bottom: -0.5em;
  }

  .avatar {
    width: 2.6em;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 4em;
  width: 80%;
  margin: 0 auto 6em auto;
}

.lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: -1;
  display: grid;
  place-items: center;
}

.border-wrapper {
  border: 0.1875em solid transparent;
  overflow: hidden;
}

.border-wrapper:has(.product-thumbnail-image-button[data-active]) {
  border: 0.1875em solid var(--primary-color-1);
  border-radius: 0.6em;
}

button[data-carousel-button] > svg {
  pointer-events: none;
}

button[data-carousel-button]:is(:hover, :active, :focus) > svg path {
  stroke: var(--primary-color-1);
  transition: stroke 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  button[data-carousel-button]:is(:hover, :active, :focus) > svg path {
    transition: none;
  }
}

.lightbox[data-active] {
  opacity: 1;
  z-index: 1;
}

.lightbox > .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.lightbox > .carousel-item {
  position: relative;
}

.lightbox > .carousel-item {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.lightbox > .carousel-item[data-active] {
  position: static;
  opacity: 1;
  z-index: 2;
}

.lightbox > .carousel-item[data-active] .carousel-image {
  opacity: 1;
}

.lightbox > .carousel .close-lightbox-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.lightbox > .carousel .carousel-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.lightbox > .carousel-item .carousel-image {
  width: 100%;
}

.lightbox > .carousel .product-thumbnail-images {
  width: 40%;
}

.lightbox .previous-button,
.lightbox .next-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  background-color: var(--white-color);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.lightbox .previous-button {
  left: -2em;
}

.lightbox .next-button {
  right: -2em;
}

.close-lightbox-icon {
  width: 1em;
  height: 1em;
}

.close-lightbox-icon path {
  fill: var(--white-color);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .close-lightbox-icon path {
    transition: none;
  }
}

.close-lightbox-button:is(:hover, :active, :focus) > .close-lightbox-icon path {
  fill: var(--primary-color-1);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .close-lightbox-button:is(:hover, :active, :focus)
    > .close-lightbox-icon
    path {
    transition: none;
  }
}

.product-images-container {
  display: grid;
  gap: 1em;
}

.product-images-container .previous-button,
.product-images-container .next-button {
  display: none;
}

.carousel-image {
  display: none;
  border-radius: 1em;
  pointer-events: none;
}

.carousel-item[data-active] {
  cursor: pointer;
}

.carousel-item[data-active] > .carousel-image {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product-thumbnail-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.product-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0.6em;
}

.product-thumbnail-image-button {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.6em;
}

.product-thumbnail-image-button[data-active] {
  border-radius: 0;
  transition: none;
  background-color: var(--white-color);
}

.product-thumbnail-image-button[data-active] > img {
  border-radius: 0;
  opacity: 0.5;
}

.product-thumbnail-image-button[data-active],
.product-thumbnail-image-button:is(:hover, :focus, :hover) {
  transition: border 0.2s ease-out;
  outline: none;
}

@media (prefers-reduced-motion) {
  .product-thumbnail-image-button[data-active],
  .product-thumbnail-image-button:is(:hover, :focus, :hover) {
    transition: none;
  }
}

.border-wrapper:has(
    .product-thumbnail-image-button[data-active]:is(:hover, :focus, :active)
  ),
.border-wrapper:has(
    .product-thumbnail-image-button:is(:hover, :focus, :active)
  ) {
  border: 0.1875em solid var(--primary-color-1);
  outline: none;
  border-radius: 0.6em;
  background-color: var(--white-color);
  transition: border 0.2s ease-out;
  transition: background-color 0.22s ease-out;
}

@media (prefers-reduced-motion) {
  .border-wrapper:has(
      .product-thumbnail-image-button[data-active]:is(:hover, :focus, :active)
    ),
  .border-wrapper:has(
      .product-thumbnail-image-button:is(:hover, :focus, :active)
    ) {
    transition: none;
  }
}

.product-thumbnail-image-button:is(:hover, :focus, :active) {
  border-radius: 0;
}

.product-thumbnail-image-button[data-active] > .product-thumbnail-image,
.product-thumbnail-image-button:is(:hover, :focus, :hover)
  > .product-thumbnail-image {
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

@media (prefers-reduced-motion) {
  .product-thumbnail-image-button[data-active] > .product-thumbnail-image,
  .product-thumbnail-image-button:is(:hover, :focus, :hover) {
    transition: none;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.brand-name {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
}

.product-description {
  line-height: 1.6;
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.current-price-container {
  display: flex;
  gap: 1em;
}

.product-name,
.current-price {
  color: var(--neutral-color-1);
}

.product-name {
  margin-bottom: 0.4em;
}

@media (width < 52em) {
  .product-name {
    margin-bottom: 0;
  }
}

.discount {
  display: flex;
  background-color: var(--neutral-color-5);
  padding: 0.2em 0.8em;
  border-radius: 0.4em;
  color: var(--white-color);
  font-weight: bold;
  align-self: center;
}

.previous-price {
  text-decoration: line-through;
}

.add-to-cart-container {
  display: flex;
  gap: 1em;
}

.quantity-container {
  display: inline-flex;
  background-color: var(--quantity-container-background-color);
  border-radius: 0.4em;
  gap: 0.4em;
}

.minus-quantity-button,
.plus-quantity-button {
  display: flex;
  align-items: center;
  padding: 1.4em;
}

.minus-quantity-button:is(:hover, :active, :focus)
  > .minus-quantity-button-icon
  path,
.plus-quantity-button:is(:hover, :active, :focus)
  > .plus-quantity-button-icon
  path {
  fill: var(--primary-color-1-active);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .minus-quantity-button:is(:hover, :active, :focus)
    > .minus-quantity-button-icon
    path,
  .plus-quantity-button:is(:hover, :active, :focus)
    > .plus-quantity-button-icon
    path {
    transition: none;
  }
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 2em;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  background-color: var(--primary-color-1);
  font-weight: bold;
  color: var(--neutral-color-1);
  border-radius: 0.6em;
  flex: 1;
  transition: background-color 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .add-to-cart-buttonq {
    transition: none;
  }
}

.add-to-cart-button-label {
  display: block;
}

.add-to-cart-button-icon path {
  fill: var(--neutral-color-1);
  transition: fill 0.2s ease-in;
}

@media (prefers-reduced-motion) {
  .add-to-cart-button path {
    transition: none;
  }
}

@media (width < 52em) {
  body {
    gap: 0;
  }

  .main {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 0 2em;
    gap: 2em;
    margin-top: 6.375em;
  }

  .product-thumbnail-images {
    display: none;
  }

  .carousel {
    position: relative;
  }

  .carousel-item {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  .carousel-item[data-active] {
    position: static;
    opacity: 1;
    z-index: 2;
  }

  .carousel-item[data-active] > .carousel-image {
    opacity: 1;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 1;
  }

  .product-images-container .previous-button,
  .product-images-container .next-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    background-color: var(--white-color);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }

  .previous-button {
    left: 1em;
  }

  .next-button {
    right: 1em;
  }

  .main-content {
    width: 90%;
  }

  .price-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width < 32em) {
  .top-header {
    padding-left: 1em;
    padding-right: 1em;
  }

  .add-to-cart-container {
    flex-direction: column;
  }

  .quantity-container {
    justify-content: space-around;
  }

  .quantity {
    flex: 1;
  }

  .add-to-cart-button {
    padding: 1.2em 0;
    box-shadow: 0.125em 1.25em 3.3125em -0.9375em var(--primary-color-1);
  }
}

.hidden {
  display: none;
}
