:root {
  --primary-color-1: hsl(26, 100%, 55%);
  --primary-color-2: hsl(25, 100%, 94%);

  --neutral-color-1: hsl(220, 13%, 13%);
  --neutral-color-2: hsl(219, 9%, 45%);
  --neutral-color-3: hsl(220, 14%, 75%);
  --neutral-color-4: hsl(0, 0%, 100%);
  --neutral-color-5: hsl(0, 0%, 0%);

  --white-color: var(--neutral-color-4);
  --overlay-color: var(--neutral-color-5);
  --quantity-container-background-color: hsl(220, 14%, 75%, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: var(--primary-color-2);
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  gap: 6em;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  min-height: 100%;
  color: var(--neutral-color-2);
  background-color: var(--white-color);
}

button {
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.top-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2em 0;
  margin: 0 4em;
  border-bottom: 0.125em solid lightgray;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-content {
  display: flex;
  align-items: center;
  gap: 2em;
}

.navigation-links {
  display: flex;
  gap: 2em;
  position: relative;
}

.navigation-item {
  position: relative;
}

.navigation-link::after {
  content: "";
}

.navigation-link:is(:hover, :active, :focus)::after {
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: var(--primary-color-1);
  position: absolute;
  bottom: -2.9375em;
  transition: background-color ease-in-out 0.2s;
}

.open-menu-button,
.close-menu-button,
.navigation-overlay {
  display: none;
}

.open-menu-button img {
  width: 1.7em;
}

.navigation-links {
  display: flex;
  gap: 2em;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.cart {
  width: 1.7em;
}

.avatar {
  width: 3em;
}

@media (width < 52em) {
  .top-header {
    padding: 2em;
    margin: 0;
    border: none;
  }

  .open-menu-button,
  .close-menu-button {
    display: flex;
  }

  .logo-container,
  .user-container {
    gap: 1em;
  }

  .navigation {
    order: 1;
  }

  .logo {
    order: 2;
  }

  .navigation-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: var(--neutral-color-5);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none;
    z-index: 2;
  }

  .navigation-content {
    position: fixed;
    inset: 0 7.5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    background-color: var(--white-color);
    padding: 2em;
    translate: -100vw 0;
    transition: translate 0.35s ease-in-out;
    z-index: 3;
  }

  .open-menu-button[aria-expanded="true"] + .navigation-content {
    translate: 0;
  }

  .top-header:has(.open-menu-button[aria-expanded="true"]) .navigation-overlay {
    opacity: 0.5;
  }

  .close-menu-button img {
    width: 2em;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 2em;
    font-size: 1.1em;
  }

  .navigation-item {
    position: static;
  }

  .navigation-link {
    position: relative;
  }

  .navigation-link:is(:hover, :active, :focus)::after {
    bottom: -0.5em;
  }

  .avatar {
    width: 2em;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 4em;
  width: 80%;
  margin: 0 auto 6em auto;
}

.lightbox {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0;
  z-index: -1;
  display: grid;
  place-items: center;
}

.lightbox[data-active] {
  opacity: 0.5;
  z-index: 1;
}

.close-lightbox-button {
  margin-left: auto;
}

.product-images-container {
  display: grid;
  gap: 1em;
}

.previous-button,
.next-button {
  display: none;
}

.carousel-image {
  display: none;
  border-radius: 1em;
  pointer-events: none;
}

.carousel-item[data-active] {
  cursor: pointer;
}

.carousel-item[data-active] > .carousel-image {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product-thumbnail-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.product-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  pointer-events: none;
}

.product-thumbnail-image-button {
  border-radius: 0.6em;
  overflow: hidden;
  border: 3px solid transparent;
}

.product-thumbnail-image-button[data-active],
.product-thumbnail-image-button:is(:hover, :focus, :hover) {
  border: 3px solid var(--primary-color-1);
  transition: border 0.25s ease-out;
  outline: none;
}

.product-thumbnail-image-button[data-active] > .product-thumbnail-image,
.product-thumbnail-image-button:is(:hover, :focus, :hover)
  > .product-thumbnail-image {
  opacity: 0.3;
  transition: opacity 0.25s ease-out;
}

.product-thumbnail-image-button[data-active] {
  transition: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.brand-name {
  font-weight: bold;
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.current-price-container {
  display: flex;
  gap: 1em;
}

.product-name,
.current-price {
  color: var(--neutral-color-1);
}

.discount {
  display: flex;
  background-color: var(--neutral-color-5);
  padding: 0.2em 0.8em;
  border-radius: 0.4em;
  color: var(--white-color);
  font-weight: bold;
  align-self: center;
}

.previous-price {
  text-decoration: line-through;
}

.add-to-cart-container {
  display: flex;
  gap: 1em;
}

.quantity-container {
  display: inline-flex;
  background-color: var(--quantity-container-background-color);
  border-radius: 0.4em;
  gap: 0.4em;
}

.minus-quantity-button,
.plus-quantity-button {
  display: flex;
  align-items: center;
  padding: 1.4em;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 2em;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  background-color: var(--primary-color-1);
  font-weight: bold;
  color: var(--neutral-color-1);
  border-radius: 0.6em;
  flex: 1;
}

.add-to-cart-button-label {
  display: block;
}

@media (width < 52em) {
  body {
    gap: 0;
  }

  .main {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 0 2em;
    gap: 2em;
  }

  .product-thumbnail-images {
    display: none;
  }

  .carousel {
    position: relative;
  }

  .carousel-item {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  .carousel-item[data-active] {
    position: static;
    opacity: 1;
    transition-delay: 0s;
    z-index: 2;
  }

  .carousel-item[data-active] > .carousel-image {
    opacity: 1;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 1;
  }

  .previous-button,
  .next-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    background-color: var(--white-color);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }

  .previous-button {
    left: 1em;
  }

  .next-button {
    right: 1em;
  }

  .main-content {
    width: 90%;
  }

  .price-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width < 32em) {
  .top-header {
    padding-left: 1em;
    padding-right: 1em;
  }

  .add-to-cart-container {
    flex-direction: column;
  }

  .quantity-container {
    justify-content: space-around;
  }

  .quantity {
    flex: 1;
  }

  .add-to-cart-button {
    padding: 1.2em 0;
  }
}

.hidden {
  display: none;
}
